<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.crafttalk.chat">

    <uses-sdk tools:overrideLibrary="androidx.security" />

    <application>
        <activity
            android:name=".presentation.feature.pined_message_viewer.PinedMessage"
            android:exported="false" />
        <activity
            android:name=".presentation.feature.view_picture.ShowMediaDialog2"
            android:exported="false" />
    </application>

</manifest>